# Node / Next.js
node_modules/
.next/
out/
dist/
.cache/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vercel/

# Env (NO subir credenciales)
.env
.env.*.local
.env.local

# Editor/OS
.vscode/
.DS_Store
Thumbs.db

# Tests/coverage
coverage/
